#heading {
    text-align: center;
}
/* GRRR WHY ARENT U UPDATING??? */
/* posts 

*/
.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    padding: 30px;
    grid-auto-flow: row;
}
.postsChild {
    background-color: #ffffff;
    border: 1px solid #FFA7D5;
    padding: 20px;
    font-size: 12pt;
    text-align: center;
    word-wrap: break-word;
    border-style: dashed;
    border-width: 3px;
}

button {
    background-color: transparent;
    border-color: transparent;
}